
  .main_cont{
    display: flex !important;
    min-height: 100vh !important;
    flex-direction: column !important;
}
  .result {
    margin-top: 20px;
  }
  .card_mg{
    background: transparent;
    border: none;
}
  .options {
    cursor: pointer;
    border: 2px solid black;
    padding: 10px;
    background-color: white;
  }
  
  .selected {
    background: linear-gradient(to right, #74ebd5, #acb6e5) !important;
  }

  ul {
    list-style-type: none;
  }
  .card_container{
    margin-top: 10px !important;
  }
  .textanswr{
    color: green;
  }
  .textR{
    font-size: 20px;
    font-weight: bolder;
  }
  
  .textanswr2{
    color: red;
  }
  .NextBtn{
    text-transform:capitalize;
    font-size:1.4rem;
    background: white;
    border:0.05rem solid rgb(50, 107, 182);
    color: rgb(50, 107, 182);
    border-radius: 0.5rem;
    padding: 0.4rem 0.7rem;
    width:150px;
    cursor:pointer;
    margin:0.2rem 0.5rem 0.2rem 0;
    transition:all 0.5s ease-in-out;
    }
    .NextBtn:hover{
        background:rgb(50, 107, 182);
        color: white
    }
    .bts_l{
      text-transform:capitalize;
      font-size:1.4rem;
      background: white;
      border:0.05rem solid rgb(50, 107, 182);
      color: rgb(50, 107, 182);
      border-radius: 0.5rem;
      padding: 0.4rem 0.7rem;
      width:250px;
      cursor:pointer;
      margin:0.8rem 0rem 0.2rem 0;
      transition:all 0.5s ease-in-out;
      }
      .bts_l:hover{
          background:rgb(50, 107, 182);
          color: white
      }
    